---
import Layout from "../layouts/Layout.astro";

import config from "@data/config.json";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import heroImg from "@assets/images/hero.jpg";

import work1Img from "@assets/images/work/1.jpeg";
import work3Img from "@assets/images/work/3.jpeg";
import work4Img from "@assets/images/work/4.jpeg";
import work5Img from "@assets/images/work/5.jpeg";
import work6Img from "@assets/images/work/6.jpeg";
import work7Img from "@assets/images/work/7.jpeg";
import work2Img from "@assets/images/work/2.jpeg";

import Sponsors from "@components/Sponsors";
---

<Layout title="Savante Design">
  <section class="h-[900px] max-md:h-[500px] overflow-hidden relative">
    <div
      class="absolute flex flex-col top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-40 gap-4"
    >
      <h1 class="text-7xl font-bold text-primary text-center hero-text">
        {config.businessName}
      </h1>
      <h2 class="text-3xl font-light text-right text-primary hero-text">
        Interior Design
      </h2>
    </div>
    <div
      class="black-filter absolute top-0 left-0 w-full h-full bg-black z-20 opacity-50"
    >
    </div>
    <Image
      id="heroImg"
      src={heroImg}
      alt="hero image"
      class="h-[1300px] max-md:h-[900px] w-full object-cover absolute bg-green-500"
    />
  </section>
  <section class="bg-white py-8 max-md:py-4">
    <Sponsors client:only="react" />
  </section>
  <section class="my-6">
    <div
      class="carousel carousel-center w-full h-[640px] max-md:h-96 space-x-4"
    >
      <div class="carousel-item">
        <Image
          src={work1Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
      <div class="carousel-item">
        <Image
          src={work2Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
      <div class="carousel-item">
        <Image
          src={work3Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
      <div class="carousel-item">
        <Image
          src={work4Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
      <div class="carousel-item">
        <Image
          src={work5Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
      <div class="carousel-item">
        <Image
          src={work6Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
      <div class="carousel-item">
        <Image
          src={work7Img}
          alt="work image"
          class="object-cover h-full w-full aspect-square"
        />
      </div>
    </div>
    <div
      class="max-md:hidden flex gap-2 items-center w-full justify-center opacity-75"
    >
      <h1 class="italic">scroll using</h1>
      <kbd class="kbd kbd-xs">Shift</kbd> +
      <Icon name="mdi:mouse-scroll-wheel" />
    </div>
    <div
      class="md:hidden flex gap-2 items-center w-full justify-center opacity-75"
    >
      <h1 class="italic">scroll right to see more</h1>
    </div>
  </section>
  <section class="max-md:px-4">
    <div
      class="flex justify-around max-w-screen-xl mx-auto max-md:flex-col gap-12 my-16 max-md:my-4"
    >
      <div class="flex-1 flex justify-center items-center font-serif">
        <h1 class="text-9xl inline-block max-md:py-0">
          My <br />Story.
        </h1>
      </div>
      <div class="flex flex-col gap-6 flex-1 justify-end">
        <h2 class="font-extralight">
          {config.story}
        </h2>
        <a href="https://instagram.com" class="link" target="_blank"
          >View All Projects</a
        >
      </div>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  const heroTimeline = gsap.timeline();
  gsap.registerPlugin(ScrollTrigger);

  heroTimeline
    .to("#heroImg", {
      bottom: "0",
      delay: 0.4,
      duration: 2,
      ease: "power2.out",
    })
    .from(
      ".hero-text",
      {
        opacity: 0,
        duration: 2,
        stagger: 0.5,
      },
      "<1"
    )
    .from(
      "nav",
      {
        opacity: 0,
        duration: 1,
      },
      "<1"
    )
    .from(
      ".black-filter",
      {
        opacity: 0,
        duration: 1,
      },
      "<"
    );

  const splitTypes = document.querySelectorAll(".hero-text");

  // splitTypes.forEach((paragraph, i) => {
  //   const text = new SplitType(paragraph as HTMLElement, { types: "chars" });

  //   gsap.to(text.chars, {
  //     color: "#e0aa2b",
  //     duration: 0.5,
  //     stagger: 0.02,
  //     scrollTrigger: {
  //       trigger: "#heroImg",
  //       start: "top top",
  //       end: "70% center",
  //       scrub: true,
  //       toggleActions: "play play reverse reverse",
  //       markers: false,
  //     },
  //   });
  // });
</script>
