---
import Layout from "../layouts/Layout.astro";

import config from "@data/config.json";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import heroImg from "@assets/images/hero.jpg";

import work1Img from "@assets/images/work/1.jpeg";
import work3Img from "@assets/images/work/3.jpeg";
import work4Img from "@assets/images/work/4.jpeg";
import work5Img from "@assets/images/work/5.jpeg";
import work6Img from "@assets/images/work/6.jpeg";
import work7Img from "@assets/images/work/7.jpeg";
import work2Img from "@assets/images/work/2.jpeg";
import work8Img from "@assets/images/work/8.jpeg";
import work9Img from "@assets/images/work/9.jpeg";
import work10Img from "@assets/images/work/10.jpeg";
import work11Img from "@assets/images/work/11.jpeg";
import work12Img from "@assets/images/work/12.jpeg";

const workImages = [
  work1Img,
  work2Img,
  work9Img,
  work3Img,
  work10Img,
  work12Img,
  work4Img,
  work5Img,
  work11Img,
  work7Img,
  work6Img,
  work8Img,
];

import Sponsors from "@components/Sponsors";
---

<Layout title="Savante Design">
  <section class="h-[900px] max-md:h-[500px] overflow-hidden relative">
    <div
      class="absolute flex flex-col top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-40 gap-4"
    >
      <div
        class="text-7xl font-bold text-primary text-center opacity-0 hero-text"
      >
        {config.businessName}
      </div>
      <h2
        class="text-3xl font-light text-right text-primary opacity-0 hero-text"
      >
        Interior Design
      </h2>
    </div>
    <div
      class="black-filter opacity-0 absolute top-0 left-0 w-full h-full bg-black z-20"
    >
    </div>
    <Image
      id="heroImg"
      src={heroImg}
      loading={"eager"}
      alt="hero image"
      class="scale-y-[2] absolute top-0 left-0 w-full h-full object-cover -z-10"
    />
  </section>
  <!-- <section class="bg-gray-200 py-8 max-md:py-4">
    <Sponsors client:only="react" />
  </section> -->
  <section class="my-6">
    <div
      class="carousel carousel-center w-full h-[640px] max-md:h-96 space-x-4"
    >
      {
        workImages.map((img, i) => (
          <div class="carousel-item">
            <Image
              src={img}
              alt="work image"
              class="object-cover h-full w-full aspect-square"
            />
          </div>
        ))
      }
    </div>
    <div
      class="max-md:hidden flex gap-2 items-center w-full justify-center opacity-75"
    >
      <h1 class="italic">scroll using</h1>
      <kbd class="kbd kbd-xs">Shift</kbd> +
      <Icon name="mdi:mouse-scroll-wheel" />
      <h1 class="italic">or</h1>
      <Icon name="lucide:touchpad" />
    </div>
    <div
      class="md:hidden flex gap-2 items-center w-full justify-center opacity-75"
    >
      <h1 class="italic">scroll right to see more</h1>
    </div>
  </section>
  <section class="max-md:px-4">
    <div
      class="flex justify-around max-w-screen-xl mx-auto max-md:flex-col gap-12 my-16 max-md:my-4"
    >
      <div class="flex-1 flex justify-center items-center">
        <h1 class="text-9xl inline-block max-md:py-0">
          My <br />Story.
        </h1>
      </div>
      <div class="flex flex-col gap-6 flex-1 justify-end">
        <h2 class="font-extralight">
          {config.story}
        </h2>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-2 mx-auto px-4 mt-20">
    <h1
      class="text-center text-2xl font-extralight max-w-screen-md mx-auto leading-normal py-6"
    >
      Specialising in residential and boutique commercial work Savante Design
      can help with the following projects:
    </h1>
    <div class="flex flex-col gap-6 mx-12 max-md:mx-0">
      {
        config.services.map((service) => {
          return (
            <div>
              <h2 class="text-4xl font-light">{service}</h2>
            </div>
          );
        })
      }
    </div>
  </section>
  <section class="mt-12">
    <div class="text-center bg-secondary py-8 px-1">
      <h1 class="max-w-screen-md mx-auto text-xl leading-loose text-primary">
        Savante Design sources and provides ready to purchase or custom
        designed: Furniture - indoor and outdoor, Fabrics - upholstery, outdoor
        and curtaining, Window Treatments - shutters, roller blinds, wooden
        blinds, custom made curtains and blinds, Flooring - carpet, rugs, tiles,
        premium wood flooring, Kitchen and Bathroomwares, Furniture Upholstery
        and Recovers, plus Bedlinen and Accessories from New Zealands' leading
        brands and suppliers.
      </h1>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  const heroTimeline = gsap.timeline();
  gsap.registerPlugin(ScrollTrigger);

  heroTimeline
    .fromTo(
      "#heroImg",
      { translateY: "200px" },
      {
        translateY: "0",
        delay: 0.4,
        duration: 2,
        ease: "power2.out",
      }
    )
    .to(
      ".hero-text",
      {
        opacity: 1,
        duration: 2,
        stagger: 0.5,
      },
      "<1"
    )
    .to(
      "nav",
      {
        opacity: 1,
        duration: 1,
      },
      "<1"
    )
    .to(
      ".black-filter",
      {
        opacity: 0.3,
        duration: 1,
      },
      "<"
    );

  const splitTypes = document.querySelectorAll(".hero-text");

  // splitTypes.forEach((paragraph, i) => {
  //   const text = new SplitType(paragraph as HTMLElement, { types: "chars" });

  //   gsap.to(text.chars, {
  //     color: "#e0aa2b",
  //     duration: 0.5,
  //     stagger: 0.02,
  //     scrollTrigger: {
  //       trigger: "#heroImg",
  //       start: "top top",
  //       end: "70% center",
  //       scrub: true,
  //       toggleActions: "play play reverse reverse",
  //       markers: false,
  //     },
  //   });
  // });
</script>
